<style>
body {
	font-family: 'Raleway', sans-serif;
	padding: 1em;
	font-size: 130%;
}

</style>


<p id="notice"><%= notice %></p>
<%= @user.id %></br>
<%= @user.house_key %></br>
<%= @user.email %></br>

<%= link_to 'Create Chore', remote: true %> </br>
<%= link_to 'Edit', edit_house_path(@house), :rel => 'facebox' %> </br>
<%= link_to "Sign Out", destroy_user_session_path, method: :delete %></br>
