<p id="notice"><%= notice %></p>

<h2>Chores:</h2>
<h3><%= @house.chores.size %></h3>
<% if @house.chores.size > 0 %>
  <% for chore in @house.chores %>
<<<<<<< HEAD
    <h3 chore-id="<%= chore.id %>" class="<%= chore.is_done ? "done" : '' %>"><%= chore.title %></h3>
    <%= check_box_tag :is_done, 'yes', chore.is_done %>
    <span>&times;</span>
=======
    <h3 chore-id="<%= chore.id %>" class="<%= chore.is_done ? "done" : '' %>">
    	<%= chore.title %>
    	<%= check_box_tag :is_done, 'yes', chore.is_done %>
    	<span>&times;</span>
  </h3>
>>>>>>> todo.ly style chore list
  <% end %>
<% end %>


<%= link_to 'New Chore', new_chore_path(@house), :rel => 'facebox', :class => 'button' %> 
<%#= link_to '<button type="button">Edit</button>'.html_safe, edit_house_path(@house), :rel => 'facebox' %>
