

<p id="notice"><%= notice %></p>
<%= @user.id %></br>
<%= @user.house_key %></br>
<%= @user.email %></br>

<%= link_to '<button type="button">Create Chore</button>'.html_safe, remote: true %> 
<%= link_to '<button type="button">Edit</button>'.html_safe, edit_house_path(@house), :rel => 'facebox' %> 
<%= link_to '<button type="button">Sign Out</button>'.html_safe, destroy_user_session_path, method: :delete %>
