

<p id="notice"><%= notice %></p>
<%= @user.id %></br>
<%= @user.house_key %></br>
<%= @user.email %></br>
<%= @house.chores.size %>
<% if @house.chores.size > 0 %>
  <h2>Chores</h2>
  <% for chore in @house.chores %>
    <h3><%= chore.title %></h3>
  <% end %>
<% end %>

<h2>New Chore</h2>

<%= form_for [@house, Chore.new] do |f| %>
  <p><%= f.label :title %> <%= f.text_field :title %></p>
  <p><%= f.submit %></p>
<% end %>

<%= link_to '<button type="button">Create Chore</button>'.html_safe, remote: true %> 
<%= link_to '<button type="button">Edit</button>'.html_safe, edit_house_path(@house), :rel => 'facebox' %> 
<%= link_to '<button type="button">Sign Out</button>'.html_safe, destroy_user_session_path, method: :delete %>
<%= link_to "Sign Out", destroy_user_session_path, method: :delete %></br>

